<!DOCTYPE html>

<!--
	Emily Meuer
	Amber Krause
	03/14/2018

	Air Quality Web App for CISC 375
-->

<html ng-app="app">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="style.css"/>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9e5QbFsExSbAzJRtQbmwd_uhVGL8F_wg&libraries=places"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="app.js"></script>

		<!--	<script type="text/javascript" src="airQuality.js"></script> -->
		<title>Air Quality</title>
	</head>

	<body>
		<!-- Map -->
		<div ng-controller="MapController">
			<input id="loc-input" class="controls" type="text" ng-model="latlng"/>
			<div id="map">
			</div>

		</div>

		<!-- Table -->

<div ng-controller="TableController">
		<table>
			<tr ng-repeat="i in measurements">
				<td>{{ i.parameter }}</td>
				<td>{{ i.coordinates }}</td>
				<td>{{ i.date }}</td>
			</tr>

		</table>
</div>
	</body>
<!--<script>
		function initialize() {
			MapController.initMap();
		}
	</script>-->
</html>
