<!DOCTYPE html>

<!--
	Emily Meuer
	Amber Krause
	03/14/2018

	Air Quality Web App for CISC 375
-->

<html ng-app="app">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="style.css"/>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
		<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9e5QbFsExSbAzJRtQbmwd_uhVGL8F_wg&libraries=places,visualization"></script>
		<script src="app.js"></script>

		<!--	<script type="text/javascript" src="airQuality.js"></script> -->
		<title>Air Quality</title>
	</head>

	<body>
		<h1>Air Quality</h1>
		<p id="footer">
			<a href="./about.html" target="_blank">About</a>
		</p>

		<div id="container">
			<!-- Map -->
			<span ng-controller="MapController">
				<input id="loc-input" class="controls" type="text" ng-model="curLoc"/>
				<span id="map">
				</span>
			</span>

			<!-- Filter Controls -->
			<span id="filter">
				<p class="bold">Filter Controls:</p>
				<p id="floatRight">Only show data for selected parameters with measurements above:</p>
					<div ng-controller="FilterController" ng-init="initParams" class="filterParamContainer">
						<div ng-repeat="(key, i) in parameters" class={{i}}>
							<input id={{i}} name={{i}} type="checkbox" > {{ i }}
							<span id={{i+"text"}} class="text"> {{ sliderVals[i] | number : 3 }}</span>
							<input id={{i+"slider"}} type="range" min="0" max={{maxSliderVals[i]}} step="any" value="0" class="slider" ng-model="sliderVals[i]">
						</div>
						<div>
							<input id="filterButton" type="button" value="Filter" ng-click="updateParameters()">
						</div>
					</div>
			</span>

			<!-- Table -->
			<div id="aqDataTable" ng-controller="TableController">
					<table>
						<tr>
							<th>Parameter:</th>
							<th>Value:</th>
							<th>Coordinates:</th>
							<th>Date:</th>
						</tr>
						<tr ng-repeat="i in measurements" class={{i.parameter}}>
							<td >{{ i.parameter }}</td>
							<td>{{ i.value }}</td>
							<td>({{ i.coordinates.latitude }}, {{ i.coordinates.longitude }})</td>
							<td>{{ i.date.utc | date : "short" }}</td>
						</tr>

					</table>
			</div>
		</div>
	</body>
<!--<script>
		function initialize() {
			MapController.initMap();
		}
	</script>-->
</html>
