/*
    Amber Krause, Emily Meuer
    March 2018

    Air Quality Web App Assignment for Web Development
*/

html {
    font-size: 1em;
    float: left;
}

#map {
    height: 400px;
    width: 500px;
    position: relative;
    float: left;
    clear: left;
}

#filter {
    width: 20rem;
    clear: right;
    float: left;
    margin: 2rem;
    padding: .5rem;
    border: 1px solid black;
    position: relative;
}

#aqDataTable {
    float: left;
    clear: left;
    margin: 2rem;
}

#bc {
    background-color: #ffccff;
}

#divBC {
    background-color: #ff00ff;
}

table, td, th, tr {
  /*background-color: #ffccff;*/
  border-collapse: collapse;
  border: 1px solid black;
}

tbody {
  border-collapse: collapse;
};
/*
p {
  font-size: 1.2rem;
  padding-top: 20px;
}
/*
.ng-scope {
  border-collapse: collapse;
}

.ng-binding {
  border: 1px solid #cccccc;
  border-collapse: collapse;
}
*/
#floatRight {
    float: right;
    text-align: right;
    width: 100%;
}

#footer {
    float: left;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.profile-pic {
  border: 4px solid black;
  height: 120px;
  width: 120px;
  margin: 20px;
}

.container {
  width: 100%;
  overflow: auto;
}


.filterParamContainer {
    /*width: 200px;*/
    position: relative;
}

.slider {
    float: right;
    /*left: 50px;*/
}

.text {
    float: right;
    width: 3rem;
    text-align: center;
}

.bc {
    background-color: red;
}

.co {
    background-color: orange;
}

.no2 {
    background-color: yellow;
}

.o3 {
    background-color: teal;
}

.pm10 {
    background-color: green;
}

.pm25 {
    background-color: blue;
}

.so2 {
    background-color: purple;
}
