/*
    Amber Krause, Emily Meuer
    March 2018

    Air Quality Web App Assignment for Web Development
*/

#map {
  height: 400px;
  width: 400px;
}

table, td, th, tr {
  background-color: #cccccc;
  border-collapse: collapse;
}

tbody {
  border-collapse: collapse;
}

p {
  font-size: 1.2rem;
  padding-top: 20px;
}

.ng-scope {
  border-collapse: collapse;
}

.ng-binding {
  border: 1px solid #cccccc;
  border-collapse: collapse;
}

.profile-pic {
  border: 4px solid black;
  height: 120px;
  width: 120px;
  margin: 20px;
}

.container {
  width: 100%;
  overflow: auto;
}
